body {
    margin: 0%;
    background: linear-gradient(60deg , #0d67b5 , #af0db5);
    font-family: arial;
}
.head {
    display: grid;
    grid-template-columns: 12% 12% 20%;
    grid-template-rows: 25% 25%;
    background-color: black;
    margin: 0%;
    
}
.titleimg {
    
    grid-row: 1/2; 
    grid-column: 1/3; 
    background-size: cover;
    margin-left: 20px;
} 
.nav {
    display: inline-flex;
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 0%;
    justify-content: center;
    padding-top: 7px;
    
}
.navbtn {
    margin: 0%;
    color: white;
    text-decoration: none;
    padding: 20px;
    
    
}
.navbtn:hover{
    color: gray;
}
#search {
    width: 400px;
    height: 25px;
    

}
.sch {
    display: block;
    grid-row: 1/2;
    grid-column: 5/6;
    padding-top: 23px;
}
.submit {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding-left: 30px;
    color: whitesmoke;
    
}
.submit:hover{
    color: gray;
}
.welc {
    text-align: center;
    margin: 0%;
    padding: 200px;
    
}
.logo{
    margin: 0%;
    width: 25%;
    padding: 0%;
}
.rec{
    
    padding: 100px;
    background-color: transparent;
    display: grid ;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row: 50% 50%;
    text-align: center;

    

}
.card1 {
    grid-row: 1/2;
    background-repeat: no-repeat;
    grid-column: 1/2;
    margin-right: 10px;
    padding: 60px;
    padding-bottom: 50px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
.card2 {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: transparent;
    margin-right: 10px;
    background-repeat: no-repeat;
    padding: 60px;
    background-position: 70px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
.card3 {
    grid-row: 1/2;
    grid-column: 3/4;
    background-color: transparent;
    margin-right: 10px;
    background-repeat: no-repeat;
    padding: 60px;
    background-position: 70px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
.card4 {
    grid-row: 1/2;
    grid-column: 4/5;
    background-color: transparent;
    margin-right: 10px;
    background-repeat: no-repeat;
    padding: 60px;
    background-position: 70px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

}
.c1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-size: cover;
    margin-bottom: 10%;
}
.c11 {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 0%;
}
.c2 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-size: cover;
    margin-bottom: 10%;
}
.c22{
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 0%;
}
.c3{
    grid-row: 1/2;
    grid-column: 1/2;
    background-size: cover;
    margin-bottom: 10%;  
}
.c33{
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 0%;
}
.c4{
    grid-row: 1/2;
    grid-column: 1/2;
    background-size: cover;
    margin-bottom: 10%;  
}
.c44{
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 0%;
}
.a:hover{
    filter: opacity(50%);
}